@font-face {
    font-family: 'zixiaohunfuyaoshoushu';
    src: url('zixiaohunfuyaoshoushu.woff2') format('woff2'),
        url('zixiaohunfuyaoshoushu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

