@font-face {
    font-family: 'zihunjikehei_trial';
    src: url('zihunjikehei_trial.woff2') format('woff2'),
        url('zihunjikehei_trial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

